/* GENERAL RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    height: 100vh;
}

#countDown {
    font-size: 20vh;
    margin: 5rem;
}

#display {
    font-size: 10vh;
    margin: 5rem;

}
.d-none {
    display: none;
}

.bgc-red {
    background-color: rgba(208, 23, 23, 0.877);
}