/* GENERAL RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span {
    font-size: 20vh;
}

.d-none {
    display: none;
}

.bgc-red {
    background-color: rgba(208, 23, 23, 0.877);
}